<div class="portal-body portal-forgot-password">
<div class="account-form">
  <form data-static action="#" method="get" novalidate>
    <fieldset>
      <legend>Request Password Reset 重建密碼</legend>
      <span class="signin">
        <div>
          <label for="username">Username 用戶名稱:</label>
          <input type="text" name="username" id="username" value="" />
        </div>
        <div>
          <input type="submit" value="Submit" class="submit" />
        </div>
      </span>
    </fieldset>
  </form>
</div>
<span class="register-link">
  <a href="/{{L}}/portal/signin">Back to Sign In</a>
</span>
</div>
