<div class="portal-body portal-forgot-username">
<div class="account-form">
  <form data-static action="#" method="get" novalidate>
    <fieldset>
      <legend>Search for Username 查詢用戶名稱</legend>
      <span class="signin">
        Please enter the email address on record with Chinese School 請輸入電子郵件信箱地址
        <div>
          <label for="username">Email 電子郵件:</label>
          <input type="text" name="email" id="email" value="" />
        </div>
        <div>
          <input type="submit" value="Submit" class="submit" />
        </div>
      </span>
    </fieldset>
  </form>
</div>
<span class="register-link">
  <a href="/{{L}}/portal/signin">Back to Sign In</a>
</span>
</div>
