<div class="portal-body portal-register">
<p style='border:1px solid black;bgcolor=" #FFFFFF";'>
    <span style="font-weight: bold; background-color: yellow; color: red;">
        Important notes for retuning families or families with current students in SDCA 舊生/在校生家長請注意:
    </span>
    <span class="register-link">
        <a href="/{{L}}/portal/signin">Please sign in here.</a>
    </span>
    <b>Do not use this form</b> to create another new account! So we can keep tracking your payment history and students
    class assignment.
    If you need any assistance, please contact <a href="mailto:support@sandiegochineseschool.com">support@sandiegochineseschool.com</a>. Thank you for your
    coopration.
    <span class="register-link">
        <a href="/{{L}}/portal/signin">請由此連結登入.</a>
    </span>
    <b>不要再開新帳戶!</b> 我們才有您的付款紀錄與學生的在學資料. 若需任何協助, 請寄電子郵件至 <a href="mailto:support@sandiegochineseschool.com">support@sandiegochineseschool.com</a>. 感謝您的合作.
</p>
<p style='border:1px solid black;bgcolor="#FFFFFF";'>
    <span style="font-weight: bold;">
        For new families 新學生家長:
    </span>
    </br>
    Welcome! Please fill out the form below to create a new account. Information
    collected below is for family address and the parents who would be managing the
    account, not the prospective students. Once the account is established, student
    information could be entered when signed-in with the new user.
    </br>
    歡迎您! 請填寫此表格申請新帳戶. 先填寫家長資料, 等成功登入之後再加入學生資料.
    </p>
<div class="account-form">
    <form data-static action="#" method="get" novalidate>
        <fieldset>
            <legend style="font-weight: bold;">Create User For New Family <span style="color: yellow;">ONLY</span>
                新家長申請新帳戶</legend>
            <span class="high-school-edit">
                <div>
                    <b>Parent One 家長:</b>
                </div>
                <div>
  <label for="english_last_name"><span style="color:red">* </span>English Last Name 姓:</label>
  <input type="text" id="english_last_name" name="parent_one[english_last_name]" size="20"
    value="" />
</div>
<div>
  <label for="english_first_name"><span style="color:red">* </span>English First Name 名: </label>
  <input type="text" id="english_first_name" name="parent_one[english_first_name]" size="20"
    value="" />
</div>
<div>
  <label for="chinese_name">Chinese Name 中文姓名:</label>
  <input type="text" id="chinese_name" name="parent_one[chinese_name]" size="8"
    value="" />
</div>
<div>
  <label for="gender"><span style="color:red">* </span>Gender 性別:</label>
  <select name="parent_one[gender]" id="gender">
          <option value="M" >M</option>
          <option value="F" >F</option>
      </select>
</div>
<div>
  <label for="native_language">Native Language 母語:</label>
  <select name="parent_one[native_language]" id="native_language">
          <option value="Mandarin" >
        Mandarin</option>
          <option value="English" >
        English</option>
          <option value="Cantonese" >
        Cantonese</option>
          <option value="Japanese" >
        Japanese</option>
          <option value="Korean" >
        Korean</option>
          <option value="Vietnamese" >
        Vietnamese</option>
          <option value="Russian" >
        Russian</option>
          <option value="Swedish" >
        Swedish</option>
          <option value="Other" >
        Other</option>
      </select>
</div>                <div>
                    <b>Parent Two 家長: </b>
                </div>
                <div>
  <label for="english_last_name">English Last Name 姓:</label>
  <input type="text" id="english_last_name" name="parent_two[english_last_name]" size="20"
    value="" />
</div>
<div>
  <label for="english_first_name">English First Name 名: </label>
  <input type="text" id="english_first_name" name="parent_two[english_first_name]" size="20"
    value="" />
</div>
<div>
  <label for="chinese_name">Chinese Name 中文姓名:</label>
  <input type="text" id="chinese_name" name="parent_two[chinese_name]" size="8"
    value="" />
</div>
<div>
  <label for="gender">Gender 性別:</label>
  <select name="parent_two[gender]" id="gender">
          <option value="M">M</option>
          <option value="F">F</option>
      </select>
</div>
<div>
  <label for="native_language">Native Language 母語:</label>
  <select name="parent_two[native_language]" id="native_language">
          <option value="Mandarin">Mandarin</option>
          <option value="English">English</option>
          <option value="Cantonese">Cantonese</option>
          <option value="Japanese">Japanese</option>
          <option value="Korean">Korean</option>
          <option value="Vietnamese">Vietnamese</option>
          <option value="Russian">Russian</option>
          <option value="Swedish">Swedish</option>
          <option value="Other">Other</option>
      </select>
</div>                <div>
                    <b>Family Address 住址: </b>
                </div>
                <div>
  <label for="street"><span style="color:red">* </span>Street 路名:</label>
  <input type="text" name="address[street]" id="street" size="25" value="" />
</div>
<div>
  <label for="city"><span style="color:red">* </span>City 城市名:</label>
  <input type="text" name="address[city]" id="city" size="15" value="" />
</div>
<div>
  <label for="state">State 州名:</label>
  <select name="address[state]" id="state">
    <option value="CA">CA</option>
  </select>
</div>
<div>
  <label for="zipcode"><span style="color:red">* </span>Zipcode 郵遞區號:</label>
  <input type="text" name="address[zipcode]" id="zipcode" size="5" value="" />
</div>
<div>
  <label for="home_phone"><span style="color:red">* </span>Home Phone 住家電話:</label>
  <input type="text" name="address[home_phone]" id="home_phone" size="10" value="" />
</div>
<div>
  <label for="cell_phone">Cell Phone 手機號碼:</label>
  <input type="text" name="address[cell_phone]" id="cell_phone" size="10" value="" />
</div>
<div>
  <label for="email"><span style="color:red">* </span>Email 電子郵件信箱:</label>
  <input type="text" name="address[email]" id="email" size="25" value="" />
</div>
<div>
  <label for="list_on_school_dir">List In School Directory 列在學校通訊錄:</label>
  <select name="address[list_on_school_dir]" id="list_on_school_dir">
          <option value="Y" selected="selected" >
        Y      </option>
          <option value="N" >
        N      </option>
      </select>
</div>
<div>
  <b>Emergency Contact 緊急聯絡:</b>
</div>
<div>
  <label for="emergency_contact"><span style="color:red">* </span>Contact 緊急聯絡人:</label>
  <input type="text" name="address[emergency_contact]" id="emergency_contact" size="10" value="" />
</div>
<div>
  <label for="emergency_phone"><span style="color:red">* </span>Home Phone 緊急聯絡電話:</label>
  <input type="text" name="address[emergency_phone]" id="emergency_phone" size="10" value="" />
</div>
<div>
  <label for="emergency_cell"><span style="color:red">* </span>Cell Phone 緊急聯絡手機:</label>
  <input type="text" name="address[emergency_cell]" id="emergency_cell" size="10" value="" />
</div>                <div>
                    <b>Please create your account username and password 請輸入用戶名稱與密碼:
                    </b>
                </div>
                                <div>
                    <label for="username"><span style="color:red">* </span>Username
                        用戶名稱:</label>
                    <input type="text" id="username" name="user[username]" size="10" />
                </div>
                <div>
                    <label for="password"><span style="color:red">* </span>Password
                        密碼:</label>
                    <input type="password" id="password" name="user[password]" size="8" />
                    (At least 6 characters and case sensitive 至少六個字,
                    大小寫字母不同)
                    </div>
                <div>
                    <label for="password_confirmation"><span style="color:red">* </span>Re-type Password
                        再輸入密碼:</label>
                    <input type="password" id="password_confirmation" name="user[password_confirmation]" size="8" />
                </div>
                <span style="color:red">* </span>Required Field 必須填寫
                <div>
                    <input type="submit" value="Create User" class="submit" />
                </div>
            </span>
        </fieldset>
    </form>
</div>
</div>
