<div class="portal-body portal-signin">
<div class="account-form">
  <form data-static action="#" method="get" novalidate>
    <fieldset>
      <legend>Please Sign In 請登入</legend>
      <span class="signin">
        <div>
          <label for="username">Username 用戶名稱:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div>
          <label for="password">Password 密碼:</label>
          <input type="password" id="password" name="password" />
        </div>
        <div>
          <input type="submit" value="Sign In" class="submit" />
        </div>
        <a href="/{{L}}/portal/forgot-username">Forgot username?  Try to find username here 查詢用戶名稱</a>
        <a href="/{{L}}/portal/forgot-password">Forgot password?  Request password reset here 重建密碼</a>
      </span>
    </fieldset>
  </form>
</div>
<legend>Should you require any further assistance, please contact 若需任何協助, 請寄電子郵件至
  <a href="mailto:office.sdca@gmail.com">office.sdca@gmail.com</a>
</legend>
<span class="register-link">
  <a href="/pdf/registration-notice-english" target="_blank">Registration Notice & Online Registration FAQ</a>
</span>
<span class="register-link">
  <a href="/pdf/registration-notice-chinese" target="_blank">註冊須知與網上註冊常見問答集</a>
</span>
<span class="register-link">
  <a href="/pdf/online-registration-user-guide" target="_blank">Online Registration User Guild 網上註冊說明</a>
</span>
<span class="register-link">
  <a href="/{{L}}/programs/classes" 
   target="blank">General Class Information 課程簡介</a>
</span>
<span class="register-link">
  <a href="/pdf/portal-user-manual" target="_blank">Portal Manual 使用手冊</a>
</span>
<span class="register-link">
  <a href="/{{L}}/portal/privacy" target="blank">Privacy Policy 隱私權須知</a>
</span>
<span class="register-link">
</span>
</div>
